{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@styles": "./src/styles"
                }
            }
        ]
    ]
}