.sellerInfoContainer
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    width: 100%
    padding: 3rem 0
    gap: 3rem
    border-radius: 4px
    background-color: #FDFDFD

    


.figureSeller
    display: flex
    justify-content: center
    width: 10rem
    height: 10rem
    line-height: 10rem
    border-radius: 50%

    .sellerInfoInitials
        font-size: 4rem
        font-weight: 600

.sellerInfoBtn
    background-color: #0B0D0D
    color: #FFFFFF
    border: none
    border-radius: 4px

.sellerInfoDescriptionWrapper
    display: flex
    text-align: center