@import './../../styles/_colors'


.detpostMain
    display: flex
    justify-content: center
    width: 100vw
    background-color: red

.detpostContainer
    display: flex
    justify-content: space-between
    width: 90%
    background-color: blue

.detpostLeftContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 55%
    gap: 1rem
    background-color: green

.detpostComments
    display: flex
    flex-direction: column
    width: 100%
    background-color: white





.detpostRightContainer
    display: flex
    width: 35%
    background-color: white