@import "../../../styles/_colors.sass"

.footer_profile
    width: 100vw
    height: 100px
    background-color: $grey-0
    margin-top: 8%

.container_footer
    display: flex
    width: 90vw
    height: 100px
    margin: 0 auto
    align-items: center
    justify-content: space-between
    color: $white-fixed

    a
        border-radius: 5px
        background-color: $grey-1
        width: 50px
        height: 50px
        color: $white-fixed
        display: flex
        justify-content: center
        align-items: center


@media (max-width: 800px)
    .footer_profile
        height: 200px

    .container_footer
        flex-direction: column

        h1
            display: flex
            font-size: 32px
            font-weight: 600
            gap: 5px
            padding: 20px 0
            text-align: center
        h1 > span
            display: flex
            font-size: 24px
            display: flex
            align-items: center
            padding-top: 2%
        
        .span_direct
            font-size: 14px
            display: flex
            display: flex
        
        a
            margin-top: 30px
            width: 35px
            min-height: 40px
            display: flex
            align-items: center
            justify-content: center
