@use "../../../styles/_colors.sass"

.filters-ul
    padding-left: 2rem
    margin-top: 2%
    margin-bottom: 5%

    li:first-child
        margin-top: .7rem
    li
        max-width: fit-content
        cursor: pointer
        color: colors.$grey-3
        transition: 0.2s ease

    li:hover
        color: colors.$random-11
        transition: 0.2s ease